 @import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Roboto:wght@300&display=swap");

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
 }

 body {
     font-size: 1em;
     overflow-x: hidden;
 }

 .text-center {
     display: flex;
     margin: auto;
 }

 .text-center h6 {
     padding: 0;
     color: white;
     font-size: 7vw;
     border-bottom: 7px solid #CC1B1B;

 }

 /* 
 input[type=search] {
     font-size: 1em;
     padding: 1em 2em;
     outline: none;
     width: 80%;
     float: left;
 }

 button {
     font-size: 1em;
     outline: none;
     border: none;
     padding: 1.1em 2em;
     background-color: #2196F3;
     width: 20%;
     float: left;
     cursor: pointer;
     
 }

 button:hover {
     background-color: #0b7dda;
 } */

 header {
     letter-spacing: 1px;
     word-spacing: 2px;
     background-image: linear-gradient(to bottom, #0f0c299f, #302b63dc), url("nick-karvounis-Ciqxn7FE4vE-unsplash.jpg");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     background-attachment: fixed;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     text-align: center;
     width: 100%;
     margin: 0;
     padding: 5em 0;
 }

 ul li {
     list-style-type: none;
     margin-bottom: 30px;
     margin-left: 1em;
 }

 ul li a {
     color: #fff;
     text-decoration: none;
     transition: 0.6s;
     text-transform: uppercase;
     max-width: 100%;
     border: 0;
     font-size: 1.4em;
 }

 ul li a:hover {
     animation: effect 2s linear infinite;
     letter-spacing: 2.5px;

 }

 @keyframes effect {
     0% {
         color: white;
     }

     50% {
         background: linear-gradient(white, white);
         -webkit-background-clip: text;
         color: #cc1b1b;
     }

     75% {
         background: linear-gradient(white, white);
         -webkit-background-clip: text;
         color: #cc1b1b;
     }

     0% {
         color: white;
     }

 }

 .underline-effect {
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -moz-osx-font-smoothing: grayscale;
     position: relative;
     overflow: hidden;
 }

 .underline-effect:before {
     content: "";
     position: absolute;
     z-index: -1;
     left: 0;
     right: 100%;
     bottom: 0;
     background: #cc1b1b;
     height: 3px;
     -webkit-transition-property: right;
     transition-property: right;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-timing-function: ease-out;
     transition-timing-function: ease-out;
 }

 .underline-effect:hover:before {
     right: 0;
 }

 .social {
     margin: 4em 0 0 1em;
     display: flex;
 }

 .social a {
     color: #fff;
     transition: 0.6s;
     margin: 0.4em;
     font-size: 2em;
 }

 .facebook a:hover {
     color: #3b5998;
 }

 .twitter a:hover {
     color: #00acee;
 }

 .instagram a:hover {
     background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
     background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 /*about*/

 #about {

     padding: 20px;
 }

 #about h2 {
     text-align: center;
     margin-bottom: 20px;
     padding: 50px;
     text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
     color: #cc1b1b;
 }

 #about p {
     margin-bottom: 20px;
     padding: 20px;
 }

 #about img {
     transition: all .5s;
     width: 100%;
     height: 250px;
     border-radius: 5px;
 }

 #about img:hover {
     transform: scale(1.1);
 }



 .largeImages {
     display: flex;
     margin: auto;
 }

 .insideImg {
     width: 33.33%;
     padding: 20px;
 }

 /*end*/

 /*special*/

 #special {
     padding: 20px;
     background: #000;
     color: #fff;
 }

 #special h2 {
     text-align: center;
     padding: 50px;
 }

 #special p {
     padding: 20px;
 }

 #special img {
     width: 100%;
     height: 350px;
     border-radius: 5px;
 }

 .specialImg {
     width: 33.33%;
     padding: 20px;
     transition: 0.5s;
 }

 .specialImg:hover {
     transform: scale(1.1);
 }

 .specialFlex {
     display: flex;
 }

 .infoTxt {
     padding: 20px 0px;
     background: #fff;
     color: #000;
     border-radius: 5px;
 }

 .infoTxt h3 {
     margin: 20px;
 }

 .infoTxt div {
     padding: 0px 20px;
     text-align: justify;
 }

 .price {
     background: #cc1b1b;
     display: inline-block;
     padding: 10px;
     color: #fff;
     position: relative;
     left: -5px;
     border-radius: 5px;
     font-size: 1.5em;
 }

 /*end*/

 /*menu*/

 #menu {
     padding: 20px;
 }

 #menu h2 {
     text-align: center;
     padding: 50px;
     text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
     color: #cc1b1b;
 }

 #menu p {
     padding: 20px;
 }

 #menu img {
     width: 100%;
     height: 250px;
     box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
     border-radius: 5px;
     transition: all .5s;
 }

 #menu img:hover {
     transform: scale(1.1);
 }

 .flexWrapper {
     display: flex;
     flex-wrap: wrap;
 }

 .imgO {
     width: 33.33%;
     line-height: 0;
     padding: 20px;
 }

 /*end*/

 /*restaurant*/

 #restaurant {
     padding: 20px;
     background: #000;
     color: #fff;
 }

 #restaurant h2 {
     text-align: center;
     padding: 50px;
 }

 #restaurant p {
     padding: 0 20px;
 }

 #restaurant img {
     width: 100%;
     height: 250px;
     border-radius: 5px;
     transition: all .5s;
 }

 #restaurant img:hover {
     transform: scale(1.1);
 }

 .resFlex {
     display: flex;
     flex-wrap: wrap;
 }

 .dino {
     width: 33.33%;
     padding: 20px;
 }

 /*end*/

 /*footer*/

 footer {
     padding: 20px;
 }

 footer h2 {
     padding: 50px;
     text-align: center;
     text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
     color: #cc1b1b;
 }

 footer h3 {
     margin-bottom: 20px;
     color: #cc1b1b;
 }

 footer p {
     padding: 0px 20px;
 }

 footer img {
     width: 100%;
     height: 350px;
     box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
     border-radius: 5px;
     transition: all .5s;
 }

 footer img:hover {

     transform: scale(1.1);
 }

 .berry {
     padding: 20px;
     width: 50%;
 }

 .berry div {
     margin-bottom: 10px;
 }

 .berry>div {
     margin-bottom: 30px;
 }

 .flawerBerry {
     display: flex;
 }

 footer i {
     margin-right: 10px;
 }

 /*end*/

 /*media queries*/

 @media only screen and (max-width: 768px) {
     /*header*/

     /*end*/

     /*about*/

     .largeImages {
         flex-direction: column;
     }

     .insideImg {
         width: 100%;
     }

     /*end*/

     /*special*/

     .specialFlex {
         flex-direction: column;
     }

     .specialImg {
         width: 100%;
     }

     /*end*/

     /*menu*/

     .imgO {
         width: 100%;
     }

     #menu img {
         height: 300px;
     }

     /*end*/

     /*restaurant*/

     #restaurant img {
         height: 300px;
     }

     .resFlex {
         flex-direction: column;
     }

     .dino {
         width: 100%;
     }

     /*end*/

     /*contact*/

     .flawerBerry {
         flex-direction: column-reverse;
     }

     .berry {
         width: 100%;
     }

     .berry>div {
         text-align: center;
     }

     footer h2 {
         text-align: center;
     }

     footer h3 {
         margin-bottom: 10px;
     }

     /*end*/
 }


 @media (min-width: 322px) and (max-width: 767px) {


     .text-center {


         top: 0%;
         left: 50%;
         transform: translate(-50%, -50%);
         position: absolute;
         user-select: none;
     }

     .text-center h6 {
         transform: translateX(-50%);
         text-align: center;
         position: absolute;
         font-size: 6rem;
         border: none;
         background: linear-gradient(rgba(21, 21, 156, 0.603), rgba(0, 0, 255, 0.103));
         -webkit-background-clip: text;
         color: transparent;
         user-select: none;
     }

     .social {
         display: inline-flex;
         margin: 0;
         padding: 2em 0 0 0;
     }

     header {
         display: table;
         vertical-align: middle;
     }
 }

 @media (min-width: 185px) and (max-width: 321px) {



     .text-center,
     .text-center h6 {
         display: none;
         user-select: none;
     }

     header {
         display: table;
         vertical-align: middle;

     }

     .social {
         display: inline-flex;
         margin: 0;
         padding: 2em 0 0 0;
     }
 }
